*{
    font-family: "Poppins", sans-serif;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff0f5;
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  