.item {
    width: 250px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.item img {
    width: 90%;
    border-radius: 10px;
}

.item p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.item-prices {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.item-price-new {
    color: #374151;
    font-size: 16px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
}
