.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 10px;
    height: auto;
}

.popular h1 {
    color: #171717;
    font-size: 36px;
    font-weight: 600;
}

.popular hr {
    width: 150px;
    height: 4px;
    border: none;
    background-color: #252525;
    margin-top: 5px;
}

.popular-items {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    
}

.popular-items img{
    width: 350px;
}
